[Unit]
Description=Minecraft Service
After=default.target

[Service]
Type=simple
User=root
WorkingDirectory=/minecraft/smp/survival
ExecStart=/bin/bash /minecraft/smp/survival/start.sh

[Install]
WantedBy=default.target
